1.Create employee records of a company stored in a json file. Perform operations like adding a new employee, updating the existing info, displaying the employee details.

after mounting drive

In [24]:
import json

In [25]:
employee_data=[
    {"ID":1001, "Name":"La llorona", "Dept":"HR","Salary":50000},
    {"ID":1002, "Name":"Annabelle", "Dept":"Finance","Salary":54000},
    {"ID":1003, "Name":"Ghost", "Dept":"IT","Salary":89000}
]

In [26]:
with open('/content/drive/MyDrive/datasets/emp_data.json','w') as file:
  json.dump(employee_data,file,indent=4)

In [27]:
import pandas as pd

In [28]:
def load_emp_data():
  try:
    with open('/content/drive/MyDrive/datasets/emp_data.json','r') as file:
      data=json.load(file)
    df=pd.DataFrame(data)
    return df
  except FileNotFoundError:
    print("not found, creating one")
    return pd.DataFrame(columns=['ID','Name','Dept','Salary'])

def save_emp_data(df):
  data=df.to_dict(orient='records')
  with open('/content/drive/MyDrive/datasets/emp_data.json','w') as file:
    json.dump(data,file,indent=4)

def add_emp(df,new_emp):
  new_df=pd.DataFrame([new_emp])
  df=pd.concat([df,new_df],ignore_index=True)
  save_emp_data(df)
  return df

def update_emp(df,emp_id , field , new_value):
    df.loc[df['ID']==emp_id,field] = new_value
    save_emp_data(df)
    return df

def display_roster(df):
  print("Employee roster")
  print(df)

def main():
    employee_df = load_emp_data()
    display_roster(employee_df)
    new_employee = {"ID":101,'Name':'Emily','ept':'HR','Salary':60000}
    employee_df=add_emp(employee_df,new_employee)
    display_roster(employee_df)
    employee_df=update_emp(employee_df,101,'Salary',65000)
    display_roster(employee_df)

if __name__ =="__main__":
  main()

Employee roster
     ID        Name     Dept  Salary
0  1001  La llorona       HR   50000
1  1002   Annabelle  Finance   54000
2  1003       Ghost       IT   89000
Employee roster
     ID        Name     Dept  Salary  ept
0  1001  La llorona       HR   50000  NaN
1  1002   Annabelle  Finance   54000  NaN
2  1003       Ghost       IT   89000  NaN
3   101       Emily      NaN   60000   HR
Employee roster
     ID        Name     Dept  Salary  ept
0  1001  La llorona       HR   50000  NaN
1  1002   Annabelle  Finance   54000  NaN
2  1003       Ghost       IT   89000  NaN
3   101       Emily      NaN   65000   HR